.input{
    width: 720px;
    height: 72px;
    border:solid #000000 4px;
    border-radius: 8px;
    padding: 16px;
    color:rgb(139, 134, 134) ;
    box-shadow: 2px 4px 0px 0px #000000;
    font-size: 20px;

}