.defoult{
    border-radius: 8px;
    border: solid;
    box-shadow: 2px 4px 0px 0px #000000;
    border: solid #000000 4px;
    font-size: 20px;
    background-color: #FFB800;
    padding: 20px;
}

.center{
    width: 294px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
}